* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cardContainer {
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 230px;
}

.card p {
  padding: -2;
  font-size: 0.7em;
}
